body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 1.66;
    --tw-text-opacity: 1;
    color: rgb(25 25 25 / var(--tw-text-opacity));
}


.site-header{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.global-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1332px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.gap-x-8{
    column-gap: 2ren;
}
img {
    max-width: 100%;
    height: auto;
}
.site-menu-main .nav-item {
    display: inherit;
}
.nav-link-item.drop-trigger {
    display: flex;
    column-gap: 5px;
    align-items: center;
}
ul.site-menu-main .nav-item .dropdown-icon {
    transform: rotate(90deg);
    transition: all 0.4s 
ease-in-out;
}
.site-menu-main .sub-menu {
    z-index: 500;
    background-color: rgb(255, 255, 255);
    box-shadow: -2px 2px 70px -25px rgb(0 0 0 / 30%);
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 12px 0;
    transition: 0.4s;
    z-index: 4;
    transform: translatey(20px);
    opacity: 0;
    visibility: hidden;
    min-width: 200px;
    border-radius: 6px;
}
.site-menu-main li {
    list-style: none;
}
.nav-item-has-children a {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
li.nav-item-has-children:not(.has-megamenu) {
        position: relative;
    }
.site-menu-main>.nav-item-has-children>.drop-trigger {
    line-height: 70px;
}
ul.site-menu-main .nav-item .dropdown-icon {
    transform: rotate(90deg);
    transition: all 0.4s 
ease-in-out;
}
li.nav-item-has-children:not(.has-megamenu) {
        position: relative;
    }

h2 {
    font-size: 80px;
}

.xl\:pb-\[150px\] {
        padding-bottom: 150px;
    }
.price-button.active {
    background-color: black !important;
    color: white !important;
}

